<h1>Gestión de Niños</h1>

<div class="filter">
  <label for="municipalityFilter">Filtrar por Municipio</label>
  <select (change)="filterChildrenByMunicipality()" [(ngModel)]="selectedMunicipality" required>
    <option *ngFor="let municipality of municipalities" [value]="municipality.id">{{ municipality.name }}</option>
  </select>
</div>

<!-- Coloca el botón en su propio contenedor -->
<div class="button-container">
  <button (click)="goToVaccinationByMunicipality()">Vacunación por Municipio</button>
</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de Nacimiento</th>
      <th>Municipio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let child of children">
      <td>{{ child?.name }}</td> 
      <td>{{ child?.birthDate | date }}</td>
      <td *ngIf="child.municipalityName">{{ child.municipalityName }}</td>

      <td>
        <button (click)="editChild(child.id)" *ngIf="child">Editar</button>
        <button (click)="deleteChild(child.id)" *ngIf="child">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button (click)="previousPage()">Anterior</button>
  <button (click)="nextPage()">Siguiente</button>
</div>

<form [formGroup]="childForm" (ngSubmit)="saveChild()">
  <h3>{{ editingChild ? 'Editar Niño' : 'Agregar Niño' }}</h3>
  
  <div>
    <label>Nombre:</label>
    <input type="text" formControlName="name" required>
  </div>
  
  <div>
    <label>Fecha de Nacimiento:</label>
    <input type="date" formControlName="birthDate" required>
  </div>
  
  <div>
    <label>Municipio:</label>
    <select formControlName="municipalityId" required>
      <option *ngFor="let municipality of municipalities" [value]="municipality.id">{{ municipality.name }}</option>
    </select>
  </div>
  
  <button type="submit">{{ editingChild ? 'Actualizar' : 'Agregar' }}</button>
</form>
